<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Producto</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <a href="../../index.html">Volver a la tienda</a>
    </header>

    <section class="product-detail">
        <div id="product-info">

        </div>
        <button id="add-to-cart-button">Añadir al carrito</button>
    </section>

    <footer>
        <p>&copy; 2025 Tienda en Línea</p>
    </footer>

    <script src="../scripts/product.js"></script>
</body>
</html>
